In [ ]:
import pandas as pd
import json
from pandas import json_normalize

In [ ]:
json_path = 'first.json'
with  open(json_path,'r') as file:
    data = json.load(file)

In [ ]:
#creating dataframe for team players

players_data = []
for team, players in data["info"]["players"].items():
    for player in players:
        player_registry_id = data["info"]["registry"]["people"].get(player, None)
        players_data.append({"player": player, "team": team, "registry_id": player_registry_id})

players_df = pd.DataFrame(players_data)

In [ ]:
meta_normalized = json_normalize(data['meta'])
innings_normalized = json_normalize(data['innings'])
info_normalized = json_normalize(data['info'])

In [ ]:
info_df = pd.DataFrame.from_dict(info_normalized)

In [ ]:
print(info_df)

In [ ]:
# dropping use less data
columns_to_remove = [
    'players.Kolkata Knight Riders',
    'players.Royal Challengers Bangalore',
    'registry.people',
    'balls_per_over',
    'gender','season',
    'overs','event.name','match_type'
]

# Drop the specified columns
info_df = info_df.drop(columns=columns_to_remove, errors='ignore')

In [ ]:
# removing all the attributes starting with registry 
columns_to_remove = [col for col in info_df.columns if col.startswith('registry')]
info_df_data= info_df.drop(columns=columns_to_remove)
print(info_df_data)

In [ ]:
print(players_df)
players_df.head()

In [ ]:
info_df_data = info_df_data.map(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x) 
# in this going through all the dataframe elements then we check whether value is

In [ ]:
info_df_data.head()

 DATAFRAME FOR META

In [ ]:
meta_df = pd.DataFrame.from_dict(meta_normalized)
meta_df.head()

DATA FRAME FOR INNINGS

In [ ]:
def extract_delivery_info(inning):
    inning_data = []
    for over_info in inning["overs"]:
        for delivery_info in over_info["deliveries"]:
            runs_info = delivery_info["runs"]
            wickets_info = delivery_info.get("wickets", None)
            wicket = 1 if wickets_info else None

            data = {
                "team": inning["team"],
                "over": over_info["over"],
                "batter": delivery_info["batter"],
                "bowler": delivery_info["bowler"],
                "non_striker": delivery_info["non_striker"],
                "batter_runs": runs_info["batter"],
                "extras_runs": runs_info["extras"],
                "total_runs": runs_info["total"],
                "wicket": wicket,
            }
            inning_data.append(data)
    return inning_data


match_data = []
for inning_data in data["innings"]:
    match_data.extend(extract_delivery_info(inning_data))

innings_df= pd.DataFrame(match_data)

# Display the DataFrame
print(innings_df)

In [ ]:
innings_df.head()

Adding to Postgres database

In [ ]:
%pip install sqlalchemy psycopg2

In [ ]:
import psycopg2
from sqlalchemy import create_engine

In [ ]:
#creating connection with postgres server
connection = psycopg2.connect(
    database="ipl_db",
    user="postgres",
    password="774400",
    host="localhost",
    port="5432"
)

cursor = connection.cursor()


# creating sql tables for postgres 
cursor.execute("""
    CREATE TABLE fact_deliveries (
    match_id INT,
    team VARCHAR(255),
    over INT,
    batter VARCHAR(255),
    bowler VARCHAR(255),
    non_striker VARCHAR(255),
    batter_runs INT,
    extras_runs INT,
    total_runs INT,
    wicket INT
);

 """)

cursor.execute("""
               
      CREATE TABLE meta (
    data_version INT,
    created DATE,
    revision INT
);
 """)


cursor.execute("""
   CREATE TABLE info (
    city VARCHAR(255),
    dates DATE,
    player_of_match VARCHAR(255),
    team_type VARCHAR(255),
    teams VARCHAR(255),
    venue VARCHAR(255),
    match_number INT,
    match_referee VARCHAR(255),
    reserve_umpires VARCHAR(255),
    tv_umpires VARCHAR(255),
    umpires VARCHAR(255),
    outcome_runs INT,
    winner VARCHAR(255),
    toss_decision VARCHAR(255),
    toss_winner VARCHAR(255)
);
     """)


cursor.execute("""
               
    CREATE TABLE player (
    player VARCHAR(255),
    team VARCHAR(255),
    registry_id VARCHAR(255)
);
       """)

In [ ]:

# creating a engine for connection
engine = create_engine('postgresql://postgres:774400@localhost:5432/ipl_db')
innings_df.to_sql('fact_deliveries', engine, index=False, if_exists='replace')

info_df_data.to_sql('info', engine, index=False, if_exists='replace')
meta_df.to_sql('meta', engine, index=False, if_exists='replace')
players_df.to_sql('player', engine, index=False, if_exists='replace')


connection.commit()
cursor.close()
connection.close()

Creating Dimension Table

In [ ]:

connection = psycopg2.connect(
    database="ipl_db",
    user="postgres",
    password="774400",
    host="localhost",
    port="5432"
)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()


# Dim_co_ordinators table
dim_coordinators_query = """
CREATE TABLE dim_coordinators AS
SELECT
    "venue","event.match_number"
    ,"officials.match_referees"
    ,"officials.umpires"
    ,"toss.decision","toss.winner"
FROM info;
"""
cursor.execute(dim_coordinators_query)

In [ ]:
# Dim_batters table
dim_batters_query = """
CREATE TABLE dim_batters AS
SELECT
    name,
    match_number,
    team,
    played_against_team,
    SUM(runs) AS total_runs_scored
FROM fact_deliveries
GROUP BY name, match_number, team, played_against_team;
"""
cursor.execute(dim_batters_query)

In [ ]:
dim_bowlers_query = """
CREATE TABLE dim_bowlers AS
SELECT
    name,
    match_number,
    team,
    played_against_team,
    COUNT(*) AS no_of_bowls,
    SUM(runs) AS runs_conceded,
    SUM(extras) AS extras,
    SUM(wickets) AS wickets,
    SUM(maiden_overs) AS maiden_overs
FROM fact_deliveries
GROUP BY name, match_number, team, played_against_team;
"""
cursor.execute(dim_bowlers_query)

In [ ]:
connection.commit()
cursor.close()
connection.close()